.logoSpotify {
  width: 60%;
}

.text-spotify-muted {
  color: #919191;
}

#signUp:hover {
  background-color: #3cd33c !important;
  color: white !important;
}

#login:hover {
  background-color: white !important;
  color: black !important;
}

#asideLeft a:hover {
  transition: 0.3s ease;
  color: white;
}
#icons:hover {
  transition: 0.3s ease;
  color: white;
}

#playerControls img {
  width: 4%;
  filter: brightness(60%);
}

#playerControls img:hover {
  filter: brightness(80%);
  color: #282828 !important;
}

#linePlayer {
  width: 51%;
  color: white;
}

#mainSection {
  background: linear-gradient(90deg, rgb(63, 86, 119) 0%, rgba(33, 44, 61, 1) 42%, rgb(15, 21, 29) 100%);
}

.px-custom {
  padding-inline: 9rem;
}

.ps-custom {
  padding-inline: 11rem;
}

#heartLike {
  color: #919191;
}
